{% extends 'core/base.html' %}

{% block main %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden max-w-md w-full p-6">
        <h2 class="text-2xl font-bold mb-6 text-center">ลิงก์รีเซ็ตรหัสผ่านถูกส่งแล้ว</h2>
        <p class="text-gray-700 text-center">เราได้ส่งลิงก์สำหรับรีเซ็ตรหัสผ่านไปที่อีเมลของคุณแล้ว หากคุณไม่พบอีเมลในกล่องข้อความหลัก โปรดตรวจสอบโฟลเดอร์สแปม</p>
        <div class="text-center mt-6">
            <a href="{% url 'home' %}" class="inline-block bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md">กลับไปหน้าหลัก</a>
        </div>
    </div>
</div>
{% endblock %}
