{% extends 'core/base.html' %}

{% block main %}
<div class="min-h-screen flex items-center justify-center bg-gray-50">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden max-w-md w-full p-6">
        <h2 class="text-2xl font-bold mb-6 text-center">ตั้งรหัสผ่านใหม่</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <!-- ช่องกรอกรหัสผ่านใหม่ -->
            <div class="mb-4">
                <label for="new_password1" class="block text-gray-700 text-lg font-semibold mb-2">รหัสผ่านใหม่</label>
                <input type="password" name="new_password1" class="appearance-none bg-transparent w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none border-b-2 border-gray-300 focus:border-orange-500" placeholder="กรอกรหัสผ่านใหม่" value="{{ form.new_password1.value|default_if_none:'' }}">
            </div>
            <!-- ช่องกรอกยืนยันรหัสผ่านใหม่ -->
            <div class="mb-4">
                <label for="new_password2" class="block text-gray-700 text-lg font-semibold mb-2">ยืนยันรหัสผ่านใหม่</label>
                <input type="password" name="new_password2" class="appearance-none bg-transparent w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none border-b-2 border-gray-300 focus:border-orange-500" placeholder="ยืนยันรหัสผ่านใหม่" value="{{ form.new_password2.value|default_if_none:'' }}">
            </div>
            <!-- ปุ่มบันทึกรหัสผ่านใหม่ -->
            <button type="submit" class="bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-md w-full">บันทึกรหัสผ่านใหม่</button>
        </form>
    </div>
</div>
{% endblock %}
